# Build
build/

# Visual Studio
.vs/
*.ipch
*.pch

# Binaries
*.exe
*.dll

# CMake / Ninja
.ninja_log
.ninja_deps

# clangd
compile_commands.json

# CMake
CMakeCache.txt
CMakeFiles/
*.cmake

# Ninja
.ninja*
compile_commands.json

# Visual Studio
*.sln
.vcxproj
*.filters
*.user
.vs/

# OS junk
.DS_Store
Thumbs.db
